body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #111;
}

.container {
  max-width: 1200px;
  margin: auto;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
}

/* ============= Header =============*/
.header_container {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #004680;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}

/* ============= Nav =============*/
.nav nav {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_item {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
}

.nav_item:hover {
  font-weight: 800;
}

nav .nav_item::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s;
  transition: all .2s;
}

nav .nav_item:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* ============= Section =============*/
.section {
  margin-top: 100px;
  height: 100vh;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 3em;
  text-align: center;
  padding: 50px;
}

.wrapper2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
  grid-gap: 2em;
}

.wrapper1, .wrapper3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 8fr 2fr;
      grid-template-rows: 2fr 8fr 2fr;
  grid-gap: 1em;
}

.wrapper .light1, .light2, .light3 {
  border: 1px solid #111;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 800;
  color: #111;
}

/* ============= Footer =============*/
.footer {
  background-color: #004680;
  width: 100%;
  height: 100px;
  line-height: 100px;
  margin-top: 50px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
  margin-left: 20px;
}

.form i {
  margin-right: 10px;
}

.copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
}

.copyright span a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-left: 7px;
}

.password {
  margin-right: 50px;
}

.text, .btn, .email, .password {
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 5px 10px;
}

.btn:hover {
  background-color: red;
  color: #fff;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */
