$border: 1px solid #111;
$hfBgColor: #004680;
$hfColor: #fff;
$bodyColor: #111;
$fontFamily: 'Montserrat', sans-serif; 


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $bodyColor;
   
}
.container{
    max-width: 1200px;
    margin: auto;
    border-left:  $border;
    border-right: $border;
}

/* ============= Header =============*/

.header_container{
    width: 100%;
    height: 100px;
    padding: 0 20px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color:  $hfBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    text-decoration: none;
    font-family: $fontFamily;
    font-size: 30px;
    font-weight: 800;
    color: $hfColor;
}

/* ============= Nav =============*/

.nav nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.nav_item{
    text-decoration: none;
    font-family: $fontFamily;
    font-size: 20px;
    color: $hfColor;
}
.nav_item:hover{
    font-weight: 800;
}

nav .nav_item::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scale(0);
    transition: all .2s;
}
nav .nav_item:hover::after{
    transform: scale(1);
}

/* ============= Section =============*/

.section{
    margin-top: 100px;
    height: 100vh;
}
.wrapper{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 3em;
    text-align: center;
    padding: 50px;
}
.wrapper2{
    display: grid;
    grid-template-rows:  2fr;
    grid-gap: 2em;
}
.wrapper1, .wrapper3{
    display: grid;
    grid-template-rows:  2fr 8fr 2fr;
    grid-gap: 1em;
}
.wrapper .light1, .light2, .light3{
    border: $border;
    padding: 1em;
    font-family: $fontFamily;
    font-size: 10px;
    font-weight: 800;
    color: $bodyColor;
    
}
/* ============= Footer =============*/
.footer{
    background-color: $hfBgColor;
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin-top: 50px;
}
.form{
    display: flex;
    justify-content: space-around;
}
.form a{
    text-decoration: none;
    font-family: $fontFamily;
    font-size: 15px;
    color: $hfColor;
    margin-left: 20px;
}
.form i{
    margin-right: 10px;
}
.copyright{
    font-family: $fontFamily;
    font-size: 15px;
    color: $hfColor;
}
.copyright span a{
    font-family: $fontFamily;
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    margin-left: 7px;
}
.password{
    margin-right: 50px;
}
.text, .btn, .email, .password {
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
}
.btn:hover{
    background-color: red;
    color: $hfColor;
    font-weight: 500;
}